@inherits _BaseLocalizedComponent
@inject IDateTimeProvider _dateTimeProvider
<footer class="b-top d-flex justify-center">
    <ul>
        <li>
            <span>&copy;@_dateTimeProvider.Now.Year</span>
        </li>
        <li>
            <a title="@_l("txt.blog")"><span class="icon-quill"></span></a>
        </li>
        <li>
            <a title="@_l("txt.facebookpage")"><span class="icon-facebook2"></span></a>
        </li>
        <li>
            <a title="@_l("txt.githubpage")"><span class="icon-github-square"></span></a>
        </li>
        <li>
            <a title="@_l("txt.linkedinpage")"><span class="icon-linkedin"></span></a>
        </li>
    </ul>
</footer>