@inherits LayoutComponentBase

<div id="animated_bg_shapes"></div>

<div class="page-content d-flex min-h-100">

    <NavMenu />

    <main class="d-flex-80">
        @Body

    <BottomNavMenu />

    </main>


    <Footer />
</div>
