@inherits _BaseLocalizedComponent

<div class="header-main-text">
    <p>
        <span class="icon-chain-broken"></span>
        <br/>
        @_l(ErrorKey)
    </p>
</div>

@code{
    [Parameter] public string ErrorKey { get; set; } = "pages.notfound.warnning";
}

