.top-nav-bar{

    @extend .slide-in-from-top;

    background: $color5;
    font-weight: normal;
    text-align: center;    
    max-height:$nav-bar-height;
    // Fixed position
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    // Width 100% due to fixed removing it
    width: 100%;
    z-index: 1001;


    //Hide the more navigation icon
    >div{
        display: none;
    }
    
    //Change the unorderd list in the navbar
    div + ul {
        align-items: center;
        //reomve the bolit points
        list-style: none;

        
        li {
            //Space the items from each other
            padding: 15px;
            //Disply as one line
            display: inline-block;
            a{
                @extend .link-base
            }
        }

       
    }
    //Set every icon to the wanted size
    img {
        //Set the height of the icons
        height: $base-icon-height;
    }

    @media only screen and(max-width: 900px) {

        //Show the more icon
        >div{
            display: flex;
            float: right;

            padding: $base-padding;
            text-align: right;
            display: block;
            >img{
                height: $icon-height-larger;
            }

        }
        //Make the nav bar horizantal
        div + ul{   
            //Set the position as fixed
            position: fixed;
            //span it accross the hole width
            width: 100%;
            transition:transform $transtion-normal-fast;
            //hide the menu into the left
            transform: translate(-100%,0);
            //lay it behind the more navigation control
            z-index: -1;
            //set the expanded class to show the navigation bar
            &.expanded{ 
                padding: 0;
                background: $color5;
                transform: translate(0,0);
            }
            height: 3000px;
            li{
                align-items: center;

                display: block;
            }
        }
    }
}
