.under-line-c6-border {

    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 3px;
    border-style: dashed;
    border-color: $color6;

}

.full-c6-border {
    border-top: 1px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px;
    border-style: dashed;
    border-color: $color6;
}