.title-header{
    color: $color1;
    font-size:  $font-size-huge;
    padding: $base-header-padding;
    font-weight: lighter;
    line-height: $base-line-height-header;
}

.mini-title-header{

    @extend .center;
    color: $color1;
    font-size:  $font-size-large;
    font-weight: lighter;
}



.title-header-bright{

    @extend .title-header;
    color: $color6;
}

