.link-base{
    font-weight: lighter;
    //Smooth out the color change
    transition: color $transtion-normal-fast;
    //Set the font size to large
    font-size: $font-size-large;
    color: $color6;
    //remove the underline
    text-decoration: none;
    //Set the hover effect
    &:hover , &:focus{
        color: $color1;
    }
}

.basic-rounded-link {

    @extend .link-base;
    @extend .center;

    border:3px solid $color3;
    margin: $base-normal-margin;
    
    display: block;
    padding: $base-button-padding;
    border-radius:$base-rounded-corner-raduis ;
    font-size: $font-size-huge;

    &:hover , &:focus{
        color: $color3;
    }
}
.image-link{
    padding: 0;
    margin: 0;
    max-width:$icon-height-larger;
}

a{
    text-decoration: none;
}