:root {
    --main-bg-color: black;
    --main-fg-light-color: white;
    --main-fg-dark-color: #510101;
    --main-fg-lightdark-color: #FA0505;
    --font-weight-s: 14px;
    --font-weight-m: 16px;
    --font-weight-l: 20px;
    --font-weight-xl: 30px;
    --font-weight-xxl: 40px;
    --font-family-text: "Consolas";
    --font-family-header: "OCR A";
}


html,
body {
    font-family: var(--font-family-text);
    height: 100%;
    color: var(--main-fg-light-color);
    background-color: transparent;
    font-size: var(--font-weight-m);
    padding: 0;
    margin: 0;
}

    body p {
        line-height: 2;
    }

    body .page-content {
        display: flex;
        /*height: 100%;*/
        flex-direction: column;
        padding: 0px 40px;
    }

hr {
    border-color: var(--main-fg-dark-color);
    opacity: 0.8;
}

main {
    flex-grow: 1;
}

button {
    background-color: transparent;
    color: var(--main-fg-light-color);
    border: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 3px;
    padding-bottom: 5px;
    border-bottom-color: var(--main-fg-dark-color);
}

    button:hover {
        border-bottom-color: var(--main-fg-light-color);
    }

.header-main-text {
    height: 100%;
    display: flex;
    text-align: center;
    line-height: 40px;
    align-items: center;
    font-size: var(--font-weight-xl) !important;
    justify-content: center;
}

.break-flex {
    flex-basis: 100%;
    height: 0;
}

header {
    height: 5vh;
    padding: 20px 0px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: var(--font-weight-l);
}

    header .nav-brand {
        font-size: var(--font-weight-xl);
        font-weight: bold;
    }

.h-swiper {
    display: flex;
    overflow: hidden;

}
    .h-swiper > :first-child {
        min-width:100vw;
    }
   
    /*
    NonBootstrap helper classe
    ********************************************
*/
    .b-full {
        border: 2px solid var(--main-fg-dark-color);
    }

.b-bottom {
    border-bottom: 2px solid var(--main-fg-dark-color);
}

.b-top {
    border-top: 2px solid var(--main-fg-light-color);
}

.d-none {
    display: none !important;
}

.m-5 {
    margin: 30px;
}

.m-3 {
    margin: 20px;
}

.m-2 {
    margin: 10px;
}

.my-3 {
    margin: 20px 0px !important;
}

.p-1 {
    padding: 5px !important;
}

.border-round-1 {
    border: 2px solid var(--main-fg-dark-color);
    border-radius: 15px;
}

.justify-left {
    justify-content: right !important;
}

.d-flex-70 {
    flex: 70% !important;
}

.d-flex-80 {
    flex: 70% !important;
}

.d-flex-30 {
    flex: 30% !important;
}

.d-flex-10 {
    flex: 10% !important;
}

.d-flex-auto {
    flex: auto !important;
}

.d-flex-column {
    flex-flow: column !important;
}

.d-show-m {
    display: none !important;
}
.text-wrap{
    word-wrap:break-word;
}
/*
    Horizantel list
*/
.h-list {
    overflow: hidden;
    list-style-type: none;
}

    .h-list li {
        text-decoration: none;
        display: inline-block;
        margin: 0px 5px;
    }

.color-dark {
    color: var(--main-fg-dark-color) !important;
}

.p-0 {
    padding: 0px !important;
}

.d-inlineblock {
    display: inline-block !important;
}

.d-flex {
    display: flex !important;
}

.text-center {
    text-align: center !important;
}

.p-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.p-relative {
    position: relative !important;
}

.w-50 {
    width: 50% !important;
}

.w-70 {
    width: 70% !important;
}

.w-30 {
    width: 30% !important;
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.min-h-100 {
    min-height: 100% !important;
}

.h-max-100 {
    max-height: 100% !important;
}

.font-xl {
    font-size: var(--font-weight-xl) !important;
}

.font-l {
    font-size: var(--font-weight-l) !important;
}

.justify-center {
    justify-content: center !important;
}

.justify-right {
    justify-content: right !important;
}
/*
    ********************************************
*/
nav ul {
    text-align: center;
    display: flex;
    list-style-type: none;
}

    nav ul li a {
        color: white !important;
        text-decoration: none;
        margin: 0px 20px;
    }

        nav ul li a.active {
            font-weight: bold;
            border-bottom: 2px solid var(--main-fg-dark-color);
            color: var(--main-fg-dark-color) !important;
        }

.header-txt nav, header {
    font-family: var(--font-family-header)
}


a {
    text-decoration: none;
    color: var(--main-fg-light-color) !important;
}

    a:hover {
        color: var(--main-fg-dark-color) !important;
    }



.bottom-nav {
    display: none !important;
}

    .bottom-nav ul {
        padding: 0px;
    }

footer {
    margin: 0px !important;
    padding: 10px 0px;
}

    footer ul {
        display: flex;
        padding: 0px;
        list-style-type: none;
    }

        footer ul li {
            font-size: var(--font-weight-xl);
            margin: 0 10px;
        }

#blazor-error-ui {
    display: none !important
}



.pcf-focused {
    width: 70%;
    margin: auto;
    padding: 20px;
    background: #000000A0;
}

    .pcf-focused .pcf-side-info-title {
        background: var(--main-fg-dark-color);
    }

    .pcf-focused .pcf-side-info {
        width: 18%;
        display: inline-block;
    }

    .pcf-focused .pcf-side-info-title {
        color: var(--main-fg-light-color) !important;
        background: var(--main-fg-dark-color);
        padding: 30px 0px;
        font-size: var(--font-weight-l);
        text-align: center;
    }

    .pcf-focused nav ul li a {
        color: var(--main-bg-color) !important;
    }

    .pcf-focused .pcf-side-info nav ul {
        text-align: left;
    }

    .pcf-focused .pcf-description {
        width: 80%;
        display: inline-block;
        font-size: var(--font-weight-l);
        vertical-align: top;
    }

.bg-firstscreen-second {
    background-color: #14AFE2 !important;
}

.bg-firstscreen-main {
    background-color: #073B4D !important;
}


@media only screen and (max-width: 750px) {
    :root {
        --font-weight-s: 13px;
        --font-weight-m: 16px;
        --font-weight-l: 18px;
        --font-weight-xl: 20px;
        --font-weight-xxl: 30px;
    }

    header {
        justify-content: center
    }

        header ul {
            display: none;
        }

    .bottom-nav {
        display: flex !important;
    }

    .pcf-focused {
        width: 100%;
        display: flex;
        padding: 0;
    }

        .pcf-focused .pcf-description {
            width: 100%;
            padding: 10px;
            display: block;
        }
    /*
    NonBootstrap helper classe for mobile view
    ********************************************
    */
    .d-show-m {
        display: block !important;
    }

    .d-hide-m {
        display: none !important;
    }

    .m-3 {
        margin: 10px;
    }

    .w-100-m {
        width: 100% !important;
    }

    .d-block-m {
        display: block !important;
    }

    .m-2 {
        margin: 5px;
    }

    .my-3-m {
        margin: 10px 0px !important;
    }

    .font-m-m {
        font-size: var(--font-weight-m) !important;
    }
    /*
    ********************************************
    */

}

#animated_bg_shapes {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: var(--main-bg-color);
    z-index: -1;
}

    #animated_bg_shapes span {
        position: absolute;
        animation-name: slide;
        animation-duration: 120s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        background-color: var(--main-fg-dark-color);
    }


@keyframes slide {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(2000%);
    }

    100% {
        transform: translateX(-200);
    }
}

@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?w64a4y');
    src: url('/fonts/icomoon.eot?w64a4y#iefix') format('embedded-opentype'), url('/fonts/icomoon.ttf?w64a4y') format('truetype'), url('/fonts/icomoon.woff?w64a4y') format('woff'), url('/fonts/icomoon.svg?w64a4y#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chain-broken:before {
    content: "\1f32a";
}

.icon-github-square:before {
    content: "\e900";
}

.icon-copyright:before {
    content: "\e901";
}

.icon-home:before {
    content: "\e902";
}

.icon-quill:before {
    content: "\e907";
}

.icon-profile:before {
    content: "\e923";
}

.icon-bubbles4:before {
    content: "\e970";
}

.icon-hammer:before {
    content: "\e996";
}

.icon-sphere:before {
    content: "\e9c9";
}

.icon-sad2:before {
    content: "\e9e6";
}

.icon-hipster:before {
    content: "\e9f9";
}

.icon-facebook2:before {
    content: "\ea91";
}

.icon-linkedin:before {
    content: "\eac9";
}



/**
    Taken from https://www.sliderrevolution.com/resources/css-text-animation/
    credit to developer:  Alvaro Montoro
*/
@keyframes showTopText {
    0% {
        transform: translate3d(0, 100%, 0);
    }

    40%, 60% {
        transform: translate3d(0, 50%, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes showBottomText {
    0% {
        transform: translate3d(0, -100%, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

.animated-title {
    color: var(--main-fg-light-color);
    font-family: Roboto, Arial, sans-serif;
    height: 90vmin;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90vmin;
}

    .animated-title > div {
        font-size: var(--font-weight-xxl) !important;
        height: 50%;
        overflow: hidden;
        position: absolute;
        width: 100%;
    }

        .animated-title > div div {
            padding: 2vmin 0;
            position: absolute;
        }

            .animated-title > div div span {
                display: block;
            }

        .animated-title > div.text-top {
            border-bottom: 1vmin solid #000;
            top: 0;
        }

            .animated-title > div.text-top div {
                animation: showTopText 1s;
                animation-delay: 0.5s;
                animation-fill-mode: forwards;
                bottom: 0;
                transform: translate(0, 100%);
            }

                .animated-title > div.text-top div span:first-child {
                    color: gray;
                }

        .animated-title > div.text-bottom {
            bottom: 0;
        }

            .animated-title > div.text-bottom div {
                animation: showBottomText 0.5s;
                animation-delay: 1.75s;
                animation-fill-mode: forwards;
                top: 0;
                transform: translate(0, -100%);
            }
