:root {
    --main-bg-color: black;
    --main-fg-light-color: white;
    --main-fg-dark-color: #510101;
    --main-fg-lightdark-color: #FA0505;
    --font-weight-s: 14px;
    --font-weight-m: 16px;
    --font-weight-l: 20px;
    --font-weight-xl: 30px;
    --font-family-text: "Consolas";
    --font-family-header: "OCR A";
}

html,
body {
    font-family: var(--font-family-text);
    height: 100%;
    color: var(--main-fg-light-color);
    background-color: transparent;
    font-size: var(--font-weight-m);
    padding: 0;
    margin: 0;
}

    body .page-content {
        display: flex;
        height: 100%;
        flex-direction: column;
        padding: 0px 40px;
    }


main {
    flex-grow: 1;
}

.header-main-text {
    height: 100%;
    display: flex;
    text-align: center;
    line-height: 40px;
    align-items: center;
    font-size: var(--font-weight-xl) !important;
    justify-content: center;
}

.break-flex {
    flex-basis: 100%;
    height: 0;
}

header {
    height: 5vh;
    padding: 20px 0px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: var(--font-weight-l);
}

    header .nav-brand {
        font-size: var(--font-weight-xl);
        font-weight: bold;
    }


/*
    NonBootstrap helper classe
    ********************************************
*/
.b-full {
    border: 2px solid var(--main-fg-dark-color);
}

.b-bottom {
    border-bottom: 2px solid var(--main-fg-dark-color);
}

.b-top {
    border-top: 2px solid var(--main-fg-light-color);
}

.d-none {
    display: none !important;
}

.m-3 {
    margin: 20px;
}

.m-2 {
    margin: 10px;
}

.border-round-1 {
    border: 2px solid var(--main-fg-dark-color);
    border-radius: 15px;
}
.justify-left{
    justify-content: right !important;
}
/*
    Horizantel list
*/
.h-list {
    overflow: hidden;
    list-style-type: none;
}

    .h-list li {
        text-decoration: none;
        display: inline-block;
        margin: 0px 5px;
    }

.color-dark {
    color: var(--main-fg-dark-color) !important;
}

.p-0 {
    padding: 0px !important;
}

.d-inlineblock {
    display: inline-block !important;
}

.d-flex {
    display: flex !important;
}

.text-center {
    text-align: center !important;
}

.w-50 {
    width: 50% !important;
}
/*
    ********************************************
*/
nav ul {
    text-align: center;
    display: flex;
    list-style-type: none;
}

    nav ul li a {
        color: white !important;
        text-decoration: none;
        margin: 0px 20px;
    }

        nav ul li a.active {
            font-weight: bold;
            border-bottom: 2px solid var(--main-fg-dark-color);
            color: var(--main-fg-dark-color) !important;
        }

.header-txt nav, header {
    font-family: var(--font-family-header)
}


a {
    text-decoration: none;
    color: var(--main-fg-light-color) !important;
}

    a:hover {
        color: var(--main-fg-dark-color) !important;
    }

.center {
    justify-content: center;
    display: flex;
}

.bottom-nav {
    display: none !important;
}

    .bottom-nav ul {
        padding: 0px;
    }

footer {
    margin: 0px !important;
    padding: 10px 0px;
}

    footer ul {
        display: flex;
        padding: 0px;
        list-style-type: none;
    }

        footer ul li {
            font-size: var(--font-weight-xl);
            margin: 0 10px;
        }

#blazor-error-ui {
    display: none !important
}



.pcf-focused {
    width: 70%;
    margin: auto;
    padding: 20px;
    background: #000000A0;
}

    .pcf-focused .pcf-side-info-title {
        background: var(--main-fg-dark-color);
    }

    .pcf-focused .pcf-side-info {
        width: 18%;
        display: inline-block;
    }

    .pcf-focused .pcf-side-info-title {
        color: var(--main-fg-light-color) !important;
        background: var(--main-fg-dark-color);
        padding: 30px 0px;
        font-size: var(--font-weight-l);
        text-align: center;
    }

    .pcf-focused nav ul li a {
        color: var(--main-bg-color) !important;
    }

    .pcf-focused .pcf-side-info nav ul {
        text-align: left;
    }

    .pcf-focused .pcf-description {
        width: 80%;
        display: inline-block;
        font-size: var(--font-weight-l);
        vertical-align: top;
    }



@media only screen and (max-width: 750px) {
    :root {
        --font-weight-s: 13px;
        --font-weight-m: 16px;
        --font-weight-l: 18px;
        --font-weight-xl: 20px;
    }

    header {
        justify-content: center
    }

        header ul {
            display: none;
        }

    .bottom-nav {
        display: flex !important;
    }

    .pcf-focused {
        width: 100%;
        display: flex;
        padding: 0;
    }

        .pcf-focused .pcf-description {
            width: 100%;
            padding: 10px;
            display: block;
        }
    /*
    NonBootstrap helper classe for mobile view
    ********************************************
    */
    .d-show-m {
        display: block !important;
    }

    .d-hide-m {
        display: none !important;
    }

    .m-3 {
        margin: 10px;
    }

    .w-100-m {
        width: 100% !important;
    }

    .d-block-m {
        display: block !important;
    }
    .m-2 {
        margin: 5px;
    }
    .my-3-m {
        margin: 10px 0px !important;
    }

    /*
    ********************************************
    */

}

#animated_bg_shapes {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: var(--main-bg-color);
    z-index: -1;
}

    #animated_bg_shapes span {
        position: absolute;
        animation-name: slide;
        animation-duration: 120s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        background-color: var(--main-fg-dark-color);
    }


@keyframes slide {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(2000%);
    }

    100% {
        transform: translateX(-200);
    }
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?93wn0z');
    src: url('../fonts/icomoon.eot?93wn0z#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?93wn0z') format('truetype'), url('../fonts/icomoon.woff?93wn0z') format('woff'), url('../fonts/icomoon.svg?93wn0z#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chain-broken:before {
    content: "\1f32a";
}

.icon-github-square:before {
    content: "\e900";
}

.icon-copyright:before {
    content: "\e901";
}

.icon-home:before {
    content: "\e902";
}

.icon-quill:before {
    content: "\e907";
}

.icon-profile:before {
    content: "\e923";
}

.icon-bubbles4:before {
    content: "\e970";
}

.icon-hammer:before {
    content: "\e996";
}

.icon-sad2:before {
    content: "\e9e6";
}

.icon-hipster:before {
    content: "\e9f9";
}

.icon-facebook2:before {
    content: "\ea91";
}

.icon-linkedin:before {
    content: "\eac9";
}
