@page "/ecv"
@page "/e-cv"
@page "/e_cv"
@inherits _BaseLocalizedComponent;

<PageTitle>@_l("pages.e_cv.title")</PageTitle>


<div class="d-flex justify-center ">
    <button class="font-l ">@_l("txt.donwloadpdf")</button>
</div>

<div>
    @if (WorkExperinceList is not null)
    {
        @foreach (var we in WorkExperinceList)
        {
            <WrokHistoryCard WorkExperince=we />
        }
    }
</div>

@code {

    #region Properties

    [Inject] public IEnumerable<WorkExperinceModel> WorkExperinceList { get; private set; }
    #endregion
}