@page "/home"
@page "/"
@inherits _BaseLocalizedComponent;

<PageTitle>@_l("pages.index.title")</PageTitle>

<div class="header-main-text">
    <p>
        @_l("pages.index.welecometext_p1")
        <br />
        @_l("pages.index.welecometext_p2")
    </p>

    <span>

    </span>

</div>

