@page "/home"
@page "/"
@inherits _BaseLocalizedComponent;

<PageTitle>@_l("pages.index.title")</PageTitle>

    <div class="animated-title">
        <div class="text-top">
            <div>
                <span>@_l("pages.index.welecometext_p1")</span>
            </div>
        </div>
        <div class="text-bottom">
            <div> @_l("pages.index.welecometext_p2")</div>
        </div>
    </div>

