
.container{

    @extend .slide-in-from-right;

    //Set the container in the center
    max-width: 1000px;

    line-height: $base-line-height;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

    @include media ($breakpoint-below-laptop) {
        h1 {
            font-size: $font-size-large;
        }
        p,a{
            padding: 0;
            font-size: $base-font-size;
        }
        line-height: $line-height-thin ;
    }

}

.container-inner {
    @extend .container ; 


    font-size: $base-font-size;
    text-align: left;
    line-height: $line-height-thin ;
    padding: $base-container-padding;
    max-width: 650px;

    @include media ($breakpoint-below-laptop) {
        font-size: $font-size-small;
        line-height: $line-height-thinner ;


    }
}
.top {
    padding: 0px;
    margin-top: $nav-bar-height * 2;
}

.container-inner-full-border {
    @extend .container-inner;
    @extend .full-c6-border;

    padding: $base-padding;
}


.bubble-effect{
    height: 100%;
    width:100%;
    position: fixed;
    z-index: -1;
    > .buble{

        
        @extend .particles-slide-up-and-hide;
        position: absolute;

        background: $color2;

        border-radius: 100%;
    
    }
}